
.hero {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 90px 8%;
    position: relative;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 50%;
    background: radial-gradient(rgba(212, 175, 55, 0.08),transparent 70%
    );
    right: -250px;
    top: -150px;
    pointer-events: none;
}

.hero-particles {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
}

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(212, 175, 55, 0.55);
    filter: blur();
    animation: particleFloat linear infinite;
}

.particle::after {
    content: "";
    position: absolute;
    inset: -4px;
    border-radius: 50%;
    background: rgba(212, 175, 55, 0.2);
    filter: blur(8px);
}

.p1 {
    width: 6px;
    height: 6px;
    left: 8%;
    animation-duration: 11s;
}

.p2 {
    width: 10px;
    height: 10px;
    left: 22%;
    animation-duration: 14s;
}

.p3 {
    width: 8px;
    height: 8px;
    left: 48%;
    animation-duration: 12s;
}

.p4 {
    width: 5px;
    height: 5px;
    left: 67%;
    animation-duration: 16s;
}

.p5 {
    width: 9px;
    height: 9px;
    left: 82%;
    animation-duration: 13s;
}

.p6 {
    width: 7px;
    height: 7px;
    left: 93%;
    animation-duration: 25s;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.hero-badge {
    width: fit-content;
    padding: 8px 18px;
    border-radius: 30px;
    background: rgba(212, 175, 55, 0.12);
    color: var(--gold);
    border:  solid rgba(212, 175, 55, 0.25);
    font-size: 0.9rem;
}

.hero-left h1 {
    font-size: 4.2rem;
    color: white;
    line-height: 1.15;
    font-weight: 700;
}

.gold-text {
    color: var(--gold);
}

.hero-left p {
    color: #999;
    font-size: 1.1rem;
    line-height: 1.8;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.hero-primary-btn {
    position: relative;
    overflow: hidden;
    padding: 18px 34px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    background: linear-gradient(
        135deg,
        #e7c44d,
        var(--gold)
    );
    color: #111;
    font-weight: 700;
    font-size: 1rem;
    transition: transform 0.25s, box-shadow 0.25s;
}

.hero-primary-btn span {
    position: relative;
    z-index: 2;
}

.hero-primary-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 255, 255, 0.55),
        transparent
    );
    transform: skewX(-25deg);
}

.hero-primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 35px rgba(212, 175, 55, 0.35);
}

.hero-primary-btn:active {
    transform: scale(0.97);
}

.hero-secondary-btn {
    position: relative;
    overflow: hidden;
    padding: 18px 34px;
    border-radius: 16px;
    cursor: pointer;
    background: transparent;
    border:  solid rgba(255, 255, 255, 0.15);
    color: white;
    transition: 0.3s;
}

.hero-secondary-btn:hover {
    background: rgba(255, 255, 255, 0.05);
    border-color: var(--gold);
    color: var(--gold);
}

.hero-trust {
    display: flex;
    gap: 25px;
    margin-top: 25px;
}

.trust-item {
    color: #aaa;
    font-size: 0.95rem;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.dashboard-card {
    width: 530px;
    background: #181818;
    border-radius: 30px;
    padding: 35px;
    border:  solid rgba(212, 175, 55, 0.15);
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.35);
    z-index: 11;
    transition: transform 0.4s, box-shadow 0.4s;
}

.dashboard-card::before {
    content: "";
    position: absolute;
    inset: -40px;
    background: radial-gradient(
        rgba(212, 175, 55, 0.08),
        transparent 70%
    );
    z-index: -1;
}

.dashboard-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 40px 70px rgba(0, 0, 0, 0.45);
}

/* Dashboard Header */

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.dashboard-header small {
    color: #888;
    font-size: 0.9rem;
}

.dashboard-header h1 {
    color: white;
    margin-top: 8px;
    font-size: 2rem;
}

.dashboard-summary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.mini-card {
    padding: 18px;
    border-radius: 16px;
    background: #202020;
}

.mini-card span {
    display: block;
    color: #888;
    margin-bottom: 10px;
}

.mini-card h4 {
    margin-top: 10px;
    color: white;
}

.mini-card strong {
    color: white;
    font-size: 1.2rem;
}

.income h4 {
    color: #34d17d;
}

.expense h4 {
    color: #ff6464;
}

.saving-card {
    background: rgba(212, 175, 55, 0.08);
    border-radius: 18px;
    padding: 20px;
}

.saving-card span {
    color: #999;
}

.saving-card strong {
    display: block;
    margin-top: 10px;
    font-size: 1.6rem;
    color: var(--gold);
}

/* Floating Elements */

.floating-card {
    position: absolute;
    backdrop-filter: blur(18px);
    background: rgba(25, 25, 25, 0.75);
    border:  solid rgba(212, 175, 55, 0.15);
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    animation: float 6s ease-in-out infinite;
    filter: blur();
    transition: transform 0.35s;
}

.floating-card:hover {
    transform: scale(1.04);
}

/* Credit Card */

.credit-card {
    width: 220px;
    top: -40px;
    right: -60px;
    background: linear-gradient(
        135deg,
        rgba(212, 175, 55, 0.25),
        rgba(255, 255, 255, 0.04)
    );
    animation-delay: 0.3s;
}

.credit-card span {
    color: var(--gold);
    font-weight: 700;
}

.credit-card h3 {
    color: white;
    margin: 28px 0 15px;
}

.credit-card small {
    color: #bbb;
}

/* Transaction */

.transaction-card {
    left: -110px;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    animation-delay: 1.5s;
}

.transaction-card strong {
    color: #34d17d;
}

.transaction-card p {
    margin-top: 6px;
    color: #999;
    font-size: 0.9rem;
}

.success-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #34d17d;
    box-shadow: 0 0 12px #34d17d;
}

/* Analytics */

.analytics-card_hero {
    right: -70px;
    bottom: -35px;
    width: 180px;
    text-align: center;
    animation-delay: 3s;
}

.analytics-card_hero h4 {
    color: #999;
    margin-bottom: 12px;
}

.analytics-card_hero strong {
    color: var(--gold);
    font-size: 2rem;
}

.analytics-card_hero small {
    color: #888;
}

.dashboard-progress {
    margin-bottom: 35px;
}

.progress-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: white;
}

.progress-bar {
    width: 100%;
    height: 10px;
    border-radius: 999px;
    background: #2c2c2c;
    overflow: hidden;
}

.progress-fill {
    width: 74%;
    height: 100%;
    background: linear-gradient(
        90deg,
        var(--gold),
        #f4d978
    );
    animation: progressGrow 2s ease;
}

.dashboard-transactions {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.transaction-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.transaction-icon {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.income-icon {
    background: #1d3827;
    color: #38d977;
}

.expense-icon {
    background: #422323;
    color: #ff7070;
}

.transaction-row strong {
    display: block;
    color: white;
}

.transaction-row small {
    color: #888;
}

.amount {
    font-weight: 700;
}

.amount.income {
    color: #38d977;
}

.amount.expense {
    color: #ff7070;
}

/* Analytics Chart */

.dashboard-chart {
    margin-bottom: 30px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.chart-header span {
    color: white;
    font-weight: 600;
}

.chart-header small {
    color: #888;
}

.chart-svg {
    width: 100%;
    height: 130px;
}

.chart-area {
    fill: url(#chartGradient);
}

.chart-line {
    fill: none;
    stroke: var(--gold);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation: drawGraph 2s ease forwards;
}

.chart-svg circle {
    fill: var(--gold);
    filter: drop-shadow(0 0 6px #d4af37);
    opacity: 0;
    animation: fadePoints 0.4s ease forwards;
}

.chart-svg circle:nth-of-type(1) {
    animation-delay: 0.4s;
}

.chart-svg circle:nth-of-type(2) {
    animation-delay: 0.6s;
}

.chart-svg circle:nth-of-type(3) {
    animation-delay: 0.8s;
}

.chart-svg circle:nth-of-type(4) {
    animation-delay: 1s;
}

.chart-svg circle:nth-of-type(5) {
    animation-delay: 1.2s;
}

.chart-svg circle:nth-of-type(6) {
    animation-delay: 1.4s;
}

.chart-svg circle:nth-of-type(7) {
    animation-delay: 1.6s;
}

/* Animations */

@keyframes drawGraph {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fadePoints {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes progressGrow {
    from {
        width: 0;
    }
}

@keyframes particleFloat {
    0% {
        transform: translateY(120px) scale(0.8);
        opacity: 0.2;
    }

    15% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.35;
    }

    100% {
        transform: translateY(-120vh) translateX(35px) scale(1.4);
        opacity: 0;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}
