.hero{
    min-height:100vh;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:90px 8%;
    position:relative;
    overflow:hidden;
}
.hero::before{
    content:"";
    position:absolute;
    width:650px;
    height:650px;
    border-radius:50%;
    background:
        radial-gradient(
            rgba(212,175,55,.08),
            transparent 70%
        );
    right:-250px;
    top:-150px;
    pointer-events:none;
}
.hero-left{
    display:flex;
    flex-direction:column;
    gap:25px;
}
.hero-badge{
    width:fit-content;
    padding:8px 18px;
    border-radius:30px;
    background:rgba(212,175,55,.12);
    color:var(--gold);
    border:1px solid rgba(212,175,55,.25);
    font-size:.9rem;
}
.hero-left h1{
    font-size:4.2rem;
    color:white;
    line-height:1.15;
    font-weight:700;
}
.gold-text{
    color:var(--gold);
}
.hero-left p{
    color:#999;
    font-size:1.1rem;
    line-height:1.8;
    max-width:600px;
}
.hero-buttons{
    display:flex;
    gap:20px;
    margin-top:10px;
}
.hero-primary-btn{
    padding:16px 30px;
    border:none;
    border-radius:14px;
    cursor:pointer;
    background:var(--gold);
    color:#111;
    font-weight:700;
}
.hero-secondary-btn{
    padding:16px 30px;
    background:transparent;
    color:white;
    border:1px solid rgba(255,255,255,.15);
    border-radius:14px;
    cursor:pointer;
}
.hero-trust{
    display:flex;
    gap:25px;
    margin-top:25px;
}
.trust-item{
    color:#aaa;
    font-size:.95rem;
}
.hero-right{
    display:flex;
    justify-content:center;
    align-items:center;
     position:relative;
}
.dashboard-card{
    width:430px;
    background:#181818;
    border-radius:30px;
    padding:35px;
    border:1px solid rgba(212,175,55,.15);
    box-shadow:0 30px 70px rgba(0,0,0,.35);
    z-index: 11;
}
.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}
.dashboard-header h3{
    color:#999;
    font-weight:500;
}
.dashboard-header span{
    color:#3fd46c;
    font-size:1.3rem;
}
.dashboard-card h1{
    color:white;
    font-size:3rem;
    margin-bottom:35px;
}
.dashboard-stats{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:25px;
}
.mini-card{
    padding:20px;
    border-radius:18px;
    background:#111;
}
.mini-card small{
    color:#888;
}
.mini-card h4{
    margin-top:10px;
    color:white;
}
.income h4{
    color:#34d17d;
}
.expense h4{
    color:#ff6464;
}
.saving-card{
    background:rgba(212,175,55,.08);
    border-radius:18px;
    padding:20px;
}
.saving-card span{
    color:#999;
}
.saving-card strong{
    display:block;
    margin-top:10px;
    font-size:1.6rem;
    color:var(--gold);
}
/* FLOATING ELEMENTS */
.floating-card{
    position:absolute;
    backdrop-filter:blur(18px);
    background:rgba(25,25,25,.75);
    border:1px solid rgba(212,175,55,.15);
    border-radius:22px;
    padding:20px;
    box-shadow:0 20px 40px rgba(0,0,0,.25);
    animation:float 6s ease-in-out infinite;
        filter: blur(1px);
}
/* Credit Card */
.credit-card{
    width:220px;
    top:-40px;
    right:-60px;
    background:
        linear-gradient(
            135deg,
            rgba(212,175,55,.25),
            rgba(255,255,255,.04)
        );
    animation-delay:.3s;
}
.credit-card span{
    color:var(--gold);
    font-weight:700;
}
.credit-card h3{
    color:white;
    margin:28px 0 15px;
}
.credit-card small{
    color:#bbb;
}
/* Transaction */
.transaction-card{
    left:-110px;
    top:180px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:240px;
    animation-delay:1.5s;
}
.transaction-card strong{
    color:#34d17d;
}
.transaction-card p{
    margin-top:6px;
    color:#999;
    font-size:.9rem;
}
.success-dot{
    width:14px;
    height:14px;
    border-radius:50%;
    background:#34d17d;
    box-shadow:0 0 12px #34d17d;
}
/* Analytics */
.analytics-card{
    right:-70px;
    bottom:-35px;
    width:180px;
    text-align:center;
    animation-delay:3s;
}
.analytics-card h4{
    color:#999;
    margin-bottom:12px;
}
.analytics-card strong{
    color:var(--gold);
    font-size:2rem;
}
.analytics-card small{
    color:#888;
}
/* Floating Animation */
@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-15px);
    }
    100%{
        transform:translateY(0px);
    }
}