.loan-page{
     display:grid;
     grid-template-columns:1fr;
     gap:30px;
     align-items:start;
}
.loan-card{
     background:rgba(20,20,20,.8);
     padding:30px;
     border-radius:24px;
     border:1px solid rgba(212,175,55,.12);
     display:flex;
     flex-direction:column;
     gap:18px;
}
.loan-card h2{
     color:white;
}
.loan-card p{
     color:#999;
}
.loan-card input,
.loan-card textarea{
     padding:16px;
     border-radius:14px;
     border:none;
     background:#111;
     color:white;
     resize:none;
}
.loan-card textarea{
     min-height:130px;
}
.loan-btn{
     padding:16px;
     border:none;
     border-radius:14px;
     cursor:pointer;
     font-weight:600;
     background:var(--gold);
     transition:.3s;
}
.loan-btn:hover{
     transform:translateY(-2px);
}
