.balance-card {
  position: relative;

  min-height: 280px;

  padding: 35px;

  overflow: hidden;

  border-radius: 30px;

  background:
    linear-gradient(
      135deg,
      rgba(30,30,30,0.98),
      rgba(10,10,10,0.95)
    );

  border: 1px solid rgba(212,175,55,0.18);

  display: flex;

  flex-direction: column;

  justify-content: space-between;
}
.balance-card::before {
  content: "";

  position: absolute;

  width: 350px;

  height: 350px;

  top: -180px;

  right: -120px;

  border-radius: 50%;

  background:
    rgba(212,175,55,0.14);

  filter: blur(90px);
}
.balance-card::after {
  content: "";

  position: absolute;

  top: -50%;

  left: -80%;

  width: 60%;

  height: 200%;

  background:
    linear-gradient(
      transparent,
      rgba(255,255,255,0.05),
      transparent
    );

  transform: rotate(25deg);

  pointer-events: none;
}
.card-top {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.bank-name {
  color: white;

  letter-spacing: 4px;

  font-weight: 700;

  font-size: 1rem;
}

.currency-badge {
  background:
    rgba(212,175,55,0.15);

  color: var(--gold);

  padding: 8px 16px;

  border-radius: 999px;

  font-size: 0.85rem;

  border: 1px solid rgba(212,175,55,0.2);
}
.balance-content {
  z-index: 2;
}

.balance-label {
  color: #9d9d9d;

  margin-bottom: 12px;

  font-size: 1rem;
}

.balance-amount {
  font-size: 3.4rem;

  font-weight: 700;

  color: white;

  line-height: 1;
}
.portfolio-tag{
  display:inline-block;
  margin-bottom:18px;

  color:var(--gold);

  font-size:.8rem;
  letter-spacing:3px;

  text-transform:uppercase;
}

.balance-growth{
  margin-top:18px;

  color:#5dff91;

  font-size:.95rem;

  font-weight:600;
}

.balance-amount{
  font-size:4.4rem;
}
.card-bottom {
  display: flex;

  justify-content: space-between;

  align-items: center;

  color: #bdbdbd;
}

.card-number {
  letter-spacing: 3px;

  font-size: 1rem;
}

.card-type {
  color: var(--gold);

  font-weight: 700;

  letter-spacing: 2px;
}