/* Hamburger */

.hamburger-btn{
    display:none;
}

@media (max-width:992px){

.hamburger-btn{
    display:flex;
    justify-content:center;
    align-items:center;

    position:fixed;

    top:20px;
    left:20px;

    width:52px;
    height:52px;

    border:none;
    border-radius:14px;

    background:rgba(18,18,18,.95);
    color:white;

    border:1px solid rgba(212,175,55,.18);

    cursor:pointer;

    z-index:1200;

    transition:.3s;
}

.hamburger-btn:hover{
    background:var(--gold);
    color:black;
}

}