/* Dashboard */
@media(max-width:992px){
.sidebar{
    position: fixed;

    top: 0;
    left: 0;
    bottom: 0;

    width: 270px;

    height: 100vh;

    margin: 0;

    padding: 35px 25px;

    border-radius: 0;

    z-index: 1000;

    transform: translateX(-110%);

    transition: transform .35s ease;
}
.sidebar.open{
    transform:translateX(0);
}
.sidebar-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.65);
    backdrop-filter:blur(4px);
    z-index:900;
}
.dashboard-layout{
    /* grid-template-columns:1fr; */
    display:block;
}
 .dashboard{
      grid-column:1;
      grid-row:1;
      margin:0;
  }

.dashboard-header{
    flex-direction:column;
    align-items:flex-start;
    gap:24px;
}
.dashboard-profile{
    width:100%;
}
.balance-section{
    grid-column:1/-1;
}
.stats-section{
    grid-column:1/-1;
}
.stats-cards{
    grid-template-columns:1fr;
}
.overview-section{
    grid-column:1/-1;
}
.actions-section{
    grid-column:1/-1;
}
.transactions-section{
    grid-column:1/-1;
}
.header-left h1{
    font-size:2.3rem;
}
}
