.sidebar {
  position: sticky;
  top: 30px;
  margin: 10px;
  height: calc(100vh - 60px);
  padding: 35px 25px;
  border-radius: 34px;
  background: rgba(18, 18, 18, 0.82);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(212, 175, 55, 0.12);
  box-shadow:
    0 20px 60px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
}
.sidebar-logo {
  text-align: center;
  margin-bottom: 55px;
}
.sidebar-logo h2 {
  color: white;
  font-size: 2.2rem;
  letter-spacing: 5px;
  font-weight: 800;
   text-shadow: 0 0 20px rgba(212, 175, 55, 0.12);
}
.sidebar-logo span {
  display: inline-block;
  margin-top: 8px;
  color: var(--gold);
  letter-spacing: 10px;
  font-size: 0.75rem;
  font-weight: 600;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.sidebar-nav a {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 18px 20px;
  border-radius: 18px;
  text-decoration: none;
  color: #b7b7b7;
  transition: 0.35s ease;
  font-size: 1rem;
  font-weight: 500;
}
.sidebar-nav a svg {
  color: var(--gold);
  transition: 0.3s ease;
}
.sidebar-nav a:hover {
 background: rgba(212, 175, 55, 0.08);
  color: white;
  transform: translateX(8px);
}
.sidebar-nav a.active {
  background:
    linear-gradient(
      90deg,
      rgba(212, 175, 55, 0.18),
      rgba(212, 175, 55, 0.02)
    );
  color: white;
  border: 1px solid rgba(212, 175, 55, 0.15);
}
.sidebar-nav a.active svg {
  color: var(--gold-light);
}
/* 
.sidebar-nav svg {
  color: var(--gold);
  transition: 0.3s ease;
} */
.sidebar-nav a:hover svg {
  transform: scale(1.15);
  filter: drop-shadow(
    0 0 8px rgba(212, 175, 55, 0.35)
  );
}